@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --caveat-logo: "Caveat", cursive;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(59, 55, 55);
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    padding-left: 200px;
    font-family: var(--caveat-logo);
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

#looked-up-holder {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 40px;
    justify-content: center;
}

.card {
    width: 250px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: rgb(0, 0, 0, 0.4);
    border: 2px solid black;
}

.card img {
    width: 250px;
    height: 400px;
}

.card h3 {
    margin: 0;
}

.card>div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* DIALOG */
dialog {
    width: 80%;
    min-height: 600px;
}

dialog img {
    width: 400px;
}

/* FAV MOVIES */
#favourites-holder {
    display: none;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

#favourites {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

#favourites .card {
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    background-color: rgb(0, 0, 0, 0.4);
    border: 2px solid black;
}

#favourites .card img {
    width: 200px;
    height: 300px;
}

#favourites .card h3,
#favourites .card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#favourites .card h3 {
    max-width: 130px;
}

#favourites .card p {
    max-width: 85%;
}

#favourites .card h3:hover,
#favourites .card p:hover {
    text-overflow: initial;
    overflow: visible;
    white-space: wrap;
}